<html>
    <!-- Phần Header của Website -->
    <head>
        <!-- ////////////// GỌI CÁC CSS //////////////  -->
        <link rel="stylesheet" href= "CSS/login.css">
        <link rel="stylesheet" href= "CSS/manager_screen_1.css">
        <link rel="stylesheet" href= "CSS/slidebar.css">
        <link rel="stylesheet" href= "CSS/partdata_screen.css">
        <link rel="stylesheet" href= "CSS/screen_manage.css">
        <link rel="stylesheet" href= "CSS/measure_screen.css">
        <link rel="stylesheet" href= "CSS/checksheet_screen.css">
        <link rel="stylesheet" href= "CSS/partdata_screen.css">
        <link rel="stylesheet" href= "CSS/partdatachild_screen.css">
        <!-- ////////////// CHƯƠNG TRÌNH HỆ THỐNG //////////////  -->
        <title>Phần mềm đo Santomas</title>
        <script src = "socket.io/socket.io.js"></script>
        <script src = "js/FC1_Common.js"></script>
        <script src = "js/dataTable.js"></script>
        <script src = "js/FC2_UserManagement.js"></script>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script>
            var socket = io("localhost:3000"); // IP tĩnh (hoặc IP động, hoặc localhost)
        </script>
        <!-- ////////////// CHƯƠNG TRÌNH ĐĂNG NHẬP HỆ THỐNG //////////////  -->
        <div id="div_login">
                <div id="id01" class="modal">
                <form id = "modal-content1" class="modal-content animate">
                <div id = "img_container" class="imgcontainer">
                    <span id = "closebtt" onclick="document.getElementById('id01').style.display='none'; logout();" class="close" title="Close Modal">&times;</span>
                     <img id = "img_avatar" src="images/user.png" alt="Avatar" class="avatar">
                </div>  
            
                <div id = "log_container" class="container">
                    <label for="uname"><b>Mã nhân viên</b></label>
                    <input id = "inputuser" type="text" placeholder="Enter Username" name="uname" required>
            
                    <label for="psw"><b>Mật khẩu</b></label>
                    <input id = "inputpass" type="password" placeholder="Enter Password" name="psw" required>
                    
                    <button id = "bttlogin1" type="button" onclick="login();">Đăng nhập</button>
                    
                </div>
            
                
                </form>
            </div>
        </div>
    </head>
    <!-- Phần thân của website -->
    <body>
        <!-- ///Bootstrap/// -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
        <!-- ///Jquery/// -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- ///datatable/// -->
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
        

        <!-- ////////////// Code cho slidebar////////////// -->
            <div id="title">CÔNG TY SANTOMAS VIỆT NAM JSC</div>
            <div id="titleIqpc">Phần mềm đo IQPC</div>
            <div id = "slidebar">
                
                <!--Nút đăng nhập/đăng xuất-->
                <!-- <button id="bttLogin" class="btn" onclick="login();
                        window.location.reload();
                ">ĐĂNG NHẬP</button> -->
                <button id="bttLogout" class="btn" onclick="logout();
                ">ĐĂNG XUẤT</button>
                <!--Nút chọn màn hình chính-->
                <button id="btt_Screen_Main" onclick=" 
                    fn_ScreenChange('Screen_Main','Screen_1','Screen_2','Partdata_screen', 'screen_empty' ) ;
                    fn_ScreenChange('Screen_Main_1','Screen_Main_2', 'part_data_child_screen', 'appearance_checkpoint_screen' );
                    
                ">MANAGER</button>
                <!--Nút chọn màn hình 1-->
                <button id="btt_Screen_1" onclick=" 
                    fn_ScreenChange('Screen_1','Screen_Main','Screen_2','Partdata_screen', 'screen_empty' );
                    fn_ScreenChange('Screen_1','screen_partdata', 'part_data_child_screen', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen' )
                ">MEASURE</button>
                <!--Nút chọn màn hình 2-->
                <button id="btt_Screen_2" onclick=" 
                    fn_ScreenChange('Screen_2','Screen_Main','Screen_1','Partdata_screen', 'screen_empty');
                    fn_ScreenChange('Screen_2','screen_partdata', 'part_data_child_screen', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen' )
                ">CHECK SHEET</button>  
                 <!--Nút chọn màn hình 3-->
                <button id="btt_partdata_screen" onclick=" 
                    fn_ScreenChange('Partdata_screen','Screen_2','Screen_Main','Screen_1', 'screen_empty');
                    fn_ScreenChange1('screen_partdata', 'part_data_child_screen', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen')
            
            ">PART DATA</button>     
                <div id="factory">SVN </div>
                <div id="user">Level</div>            
            </div>
        <!-- //////////////Code cho màn hình chính////////////// -->
            <div id = "Screen_Main">
              <div id="Screen_Main_1">
                <p>
                    <button id="btt_user_screen" onclick="
                        fn_ScreenChange('Screen_Main_1','Screen_Main_2' ,'Screen_Main_2' ,'Screen_Main_2')">Người dùng</button>
                    <button id="btt_tool_screen" onclick="
                        fn_ScreenChange('Screen_Main_2','Screen_Main_1' ,'Screen_Main_1' ,'Screen_Main_1')">Thiết bị đo</button>
                </p>
                
                <p><input type="text" id="addName" name="addName1" value="Tên nhân viên"> 
                <input type="text" id="id_svn" name="addD1" value="Mã nhân viên"> 
                <select size="1" id="dept" name="Phòng">
                    <option value="IQPC" selected="selected">
                        IQPC
                    </option>
                    <option value="QA">
                        QA
                    </option>
                    <option value="Admin">
                        Admin
                    </option>
                </select> 
                
                <select size="1" id="factory1" name="Nhà máy">
                    <option value="SVN2" selected="selected">
                        SVN2
                    </option>
                    <option value="SVN3">
                        SVN3
                    </option>
                </select> 

                <select size="1" id="level" name="cấp độ">
                    <option value="Công nhân" selected="selected">
                        Công nhân
                    </option>
                    <option value="Quản lý">
                        Quản lý
                    </option>
                    <option value="admin">
                        Admin
                    </option>
                </select> 
                <input type="text" id="pass" name="pass_id" value="Mật khẩu">
                <button id="addRow" onclick="addNewRow()">Thêm tài khoản mới</button>
                <button id="deleteButton">Xóa tài khoản</button> 
                </p>

                <table id="example" class="cell-border row-border hover stripe compact" style="width:900px">
                <thead>
                    <tr>
                        <th>Tên nhân viên</th>
                        <th>Mã nhân viên</th>
                        <th>Phòng</th>
                        <th>Nhà máy</th>
                        <th>Cấp độ</th>
                        
                        
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Tên nhân viên</th>
                        <th>Mã nhân viên</th>
                        <th>Phòng</th>
                        <th>Nhà máy</th>
                        <th>Cấp độ</th>
                        
                    </tr>
                </tfoot>
            </table>    
            </div> 
                    <!-- //////////screen_manage////// -->
            <div id="Screen_Main_2">
                <p>
                    <button id="btt_user_screen" onclick="
                        fn_ScreenChange('Screen_Main_1','Screen_Main_2' ,'Screen_Main_2' ,'Screen_Main_2')">Người dùng</button>
                    <button id="btt_tool_screen" onclick="
                        fn_ScreenChange('Screen_Main_2','Screen_Main_1' ,'Screen_Main_1' ,'Screen_Main_1')">Thiết bị đo</button>
                </p>
                
                <p><input type="text" id="toolName" name="addTool1" value="Tên thiết bị"> 
                <input type="text" id="tooltype" name="tootype" value="Loại thiết bị"> 
                <button id="addTool" onclick="addNewRow1()">Thêm thiết bị</button>
                <button id="deleteTool">Xóa thiết bị</button></p>


                <table id="example_1" class="cell-border row-border hover stripe compact" style="width:900px">
                <thead>
                    <tr>
                        <th>Tên thiết bị</th>
                        <th>Loại thiết bị</th>
                        <th>Người sử dụng</th>
                        <th>Mã thước</th>
                        <th>Mã bộ nhận</th>
                        
                        
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Tên thiết bị</th>
                        <th>Loại thiết bị</th>
                        <th>Người sử dụng</th>
                        <th>Mã thước</th>
                        <th>Mã bộ nhận</th>
                        
                    </tr>
                </tfoot>
            </table>   
            </div>
        </div>
        <script>
            new DataTable('#example', {
                paging: false,
                scrollCollapse: true,
                scrollY: '450px',
                orderable: false,
                
                //Chương trình con tìm kiếm dữ liệu
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
                
                        });
                        const table = new DataTable('#example');
                        table.on('click', 'tbody tr', (e) => {
                        let classList = e.currentTarget.classList;
                    
                        if (classList.contains('selected')) {
                            classList.remove('selected');
                        }
                        else {
                            table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                            classList.add('selected');
                        }
                    });
                    
                    document.querySelector('#deleteButton').addEventListener('click', function () {
                        let choise = confirm("Bạn có muốn xóa thiết bị?")
                                if (choise ==true){
                                    table.row('.selected').remove().draw(false);
                                }
                    });

        </script>
                <script>
                    new DataTable('#example_1', {
                        paging: false,
                        scrollCollapse: true,
                        scrollY: '450px',
                        orderable: false,
                        
                        //Chương trình con tìm kiếm dữ liệu
                        initComplete: function () {
                            this.api()
                                .columns()
                                .every(function () {
                                    let column = this;
                                    let title = column.footer().textContent;
        
                                    // Create input element
                                    let input = document.createElement('input');
                                    input.placeholder = title;
                                    column.footer().replaceChildren(input);
        
                                    // Event listener for user input
                                    input.addEventListener('keyup', () => {
                                        if (column.search() !== this.value) {
                                            column.search(input.value).draw();
                                        }
                                    });
                                });
                        }
                        
                                });
                                const table_1 = new DataTable('#example_1');
                                table_1.on('click', 'tbody tr', (e) => {
                                let classList1 = e.currentTarget.classList;
                            
                                if (classList1.contains('selected')) {
                                    classList1.remove('selected');
                                }
                                else {
                                    table_1.rows('.selected').nodes().each((row) => row.classList1.remove('selected'));
                                    classList1.add('selected');
                                }
                            });
                            
                            document.querySelector('#deleteTool').addEventListener('click', function () {
                                let choise = confirm("Bạn có muốn xóa thiết bị?")
                                if (choise ==true){
                                    table_1.row('.selected').remove().draw(false);
                                }
                                
                            });
        
                </script>




        <!-- //////////////Code cho màn hình 1////////////// -->
        

        <div id = "Screen_1">

        </div>
           

                
        <!-- //////////////Code cho màn hình 2////////////// -->
            <div id = "Screen_2">
                <p>Đây là màn 2</p>
            </div> 
            
        <!-- //////////////Code cho màn hình 3////////////// -->
            <div id = "Partdata_screen">
                <!-- //////Screen part data///// -->
                <div id="screen_partdata">
                    <p><button id="addPart" onclick="addNewRow_partdata()">Thêm Part</button>
                    <button id="deletePart">Xóa Part</button>
                    <button id="openPart" onclick="
                    fn_ScreenChange1('part_data_child_screen', 'screen_partdata', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen')"
                    >Open</button></p>
                    <p>
                    <input type="text" id="mold_no" name="moldno" value="Mold No"> 
                    <input type="text" id="part_Name" name="partname" value="Part name">
                    <input type="text" id="part_No" name="moldno" value="Part No">
                    <input type="text" id="part_Location" name="factory" value="Factory">
                
                    </p>
                    <table id="part_data" class="cell-border row-border hover stripe compact" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Mold No</th>
                                <th>Part name</th>
                                <th>Part No</th>
                                <th>Location</th>
                                <th>Add date</th>
                            </tr>
                        </thead>
        
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Mold No</th>
                                <th>Part name</th>
                                <th>Part No</th>
                                <th>Location</th>
                                <th>Add date</th>
                            </tr>
                        </tfoot>
                    </table>  
                </div>
                <!-- ////Part data screem child//// -->
                <div id="part_data_child_screen">
                        <p>
                            <button id="btt_partdata_child_screen" onclick="
                                fn_ScreenChange1('part_data_child_screen', 'screen_partdata', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen')">Part data</button>
                             <button id="btt_appearance_checkpoint_screen" onclick="
                                fn_ScreenChange1('appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen', 'dismesion_checkpoint_screen')">Appearance checkpoint</button>
                            <button id="btt_dismesion_checkpoint_screen" onclick="
                                fn_ScreenChange1('dismesion_checkpoint_screen', 'appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen')">Appearance checkpoint</button>
                
                    </p>
                    
                        <p><button id="save_partdata"  onclick="
                            fn_ScreenChange1('screen_partdata', 'part_data_child_screen', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen');">
                            SAVE</button></p>
                        <table class="display compact" id="tablePartChild" style="width:100%">
                            <tr style="width:100%; height: 10%; ">
                                
                                <td style="background-color: rgb(180, 177, 177);">Customer</td>
                                <td>
                                    <input type="text" id="customer_part_child" name="customer_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Model</td>
                                <td>
                                    <input type="text" id="id_part_child" name="id_part_child" style="width:80%; height:80%; font-size:larger ;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Mold No</td>
                                <td>
                                    <input type="text" id="moldno_part_child" name="moldno_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr>
                            <tr  style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">Part Name</td>
                                <td>
                                    <input type="text" id="partname_child" name="partname_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Part No</td>
                                <td>
                                    <input type="text" id="partno_child" name="partno_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Dia No</td>
                                <td>
                                    <input type="text" id="diano_part_child" name="diano_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr>
                            <tr style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">DWGrey</td>
                                <td>
                                    <input type="text" id="DWGrev_child" name="DWGrev_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Material</td>
                                <td>
                                    <input type="text" id="material_child" name="material_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Reg</td>
                                <td>
                                    <input type="text" id="reg_child" name="reg_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr >
                            <tr style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">His No</td>
                                <td>
                                    <input type="text" id="hisno_child" name="hisno_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">No of CAV</td>
                                <td>
                                    <input type="text" id="noofcav_child" name="noofcav_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Special Cavity Designation</td>
                                <td>
                                    <input type="checkbox" id="scd_part_child" name="scd_part_child" style="width:50%; height:50%; "  >
                                    
                                </td>
                            </tr >
                            <tr style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">Special Cavity List</td>
                                <td>
                                    <input type="text" id="scl_child" name="scl_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Rev No</td>
                                <td>
                                    <input type="text" id="revno_child" name="revno_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Date Added</td>
                                <td>
                                    <input type="datetime" id="dateadd_part_child" name="dateadd_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr>
                            <tr style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">Location</td>
                                <td>
                                    <input type="text" id="loation_child" name="location_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Ilustration</td>
                                <td>
                                    <input type="text" id="ilustation_child" name="ilustration_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Apperance Caution</td>
                                <td>
                                    <input type="text" id="ac_part_child" name="ac_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr>   
                            <tr style="width:100%; height: 10%; ">
                                <td style="background-color: rgb(180, 177, 177);">Mesuaring instruction</td>
                                <td>
                                    <input type="text" id="mi_child" name="mi_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">Drawing file</td>
                                <td>
                                    <input type="text" id="df_child" name="df_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                                <td style="background-color: rgb(180, 177, 177);">History file</td>
                                <td>
                                    <input type="text" id="hs_part_child" name="hs_part_child" style="width:80%; height:80%; font-size: larger;" value="">
                                    
                                </td>
                            </tr>
                        </table>
                    
                </div>

                <!-- ////Appearence checkpoint screen/// -->
                <div id="appearance_checkpoint_screen">
                    <p>
                        <button id="btt_partdata_child_screen" onclick="
                            fn_ScreenChange1('part_data_child_screen', 'screen_partdata', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen')">Part data</button>
                         <button id="btt_appearance_checkpoint_screen" onclick="
                            fn_ScreenChange1('appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen', 'dismesion_checkpoint_screen')">Appearance checkpoint</button>
                        <button id="btt_dismesion_checkpoint_screen" onclick="
                            fn_ScreenChange1('dismesion_checkpoint_screen', 'appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen')">Appearance checkpoint</button>
            
                    </p>
                    <p>
                        <button id="add_d_checkpoint2" onclick="addNewRow_d_checkpoint()">Thêm checkpoint</button>
                        <button id="delete_d_checkpoint">Xóa checkpoint</button>
                        </p>
                    
                    <table id="appearence_checkpoint_table" class="cell-border row-border hover stripe compact" style="width:100%">
                        <thead>
                            <tr >
                                <th >Item
                                    No</th>
                                <th >Geometric
                                    Tolerance
                                </th>
                                <th >Specs</th>
                                <th>Tolerance</th>
                                <th>Lower
                                    limit
                                </th>
                                <th>Upper
                                    limit
                                </th>
                                <th>FA Accepted
                                    min
                                </th>
                                <th>Position</th>
                                <th>DimTool</th>
                                <th>Supporting
                                    Jig
                                </th>
                                <th>ENG</th>
                                <th>QA</th>
                                <th>QA Sample
                                    Size
                                </th>
                                <th>QA
                                    Frequnce
                                </th>
                                <th>OQC</th>
                                <th>OQC Sample size
                                </th>
                            </tr>
                        </thead>
        
                        
                    </table>   

                </div>
                <script>
                    new DataTable('#appearence_checkpoint_table', {
                       // paging: false,
                       // scrollCollapse: true,
                        scrollX: true,
                        scrollY: '450px',
                        //orderable: false,
                                              
                                });
                                const table_3 = new DataTable('#appearence_checkpoint_table');
                                table_3.on('click', 'tbody tr', (e) => {
                                let classList1 = e.currentTarget.classList;
                            
                                if (classList1.contains('selected')) {
                                    classList1.remove('selected');
                                }
                                else {
                                    table_3.rows('.selected').nodes().each((row) => row.classList1.remove('selected'));
                                    classList1.add('selected');
                                }
                            });
                            
                            document.querySelector('#deleteTool').addEventListener('click', function () {
                                let choise = confirm("Bạn có muốn xóa check point?")
                                if (choise ==true){
                                    table_3.row('.selected').remove().draw(false);
                                }
                                
                            });
        
                </script>
                
                <!-- ///Dismesion checkpoint screen/// -->
                <div id="dismesion_checkpoint_screen">
                    <p>
                        <button id="btt_partdata_child_screen" onclick="
                            fn_ScreenChange1('part_data_child_screen', 'screen_partdata', 'appearance_checkpoint_screen', 'dismesion_checkpoint_screen')">Part data</button>
                         <button id="btt_appearance_checkpoint_screen" onclick="
                            fn_ScreenChange1('appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen', 'dismesion_checkpoint_screen')">Appearance checkpoint</button>
                        <button id="btt_dismesion_checkpoint_screen" onclick="
                            fn_ScreenChange1('dismesion_checkpoint_screen', 'appearance_checkpoint_screen', 'screen_partdata', 'part_data_child_screen')">Appearance checkpoint</button>
            
                </p>

                </div>
            </div> 



            <script>
                new DataTable('#part_data', {
                    paging: false,
                    scrollCollapse: true,
                    scrollY: '450px',
                    orderable: false,
                                //Chương trình con tìm kiếm dữ liệu
                                initComplete: function () {
                            this.api()
                                .columns()
                                .every(function () {
                                    let column = this;
                                    let title = column.footer().textContent;
        
                                    // Create input element
                                    let input = document.createElement('input');
                                    input.placeholder = title;
                                    column.footer().replaceChildren(input);
        
                                    // Event listener for user input
                                    input.addEventListener('keyup', () => {
                                        if (column.search() !== this.value) {
                                            column.search(input.value).draw();
                                        }
                                    });
                                });
                        }
                        
                                });
                                let id_counter=1;
                                const table_4 = new DataTable('#part_data');
                                table_4.on('click', 'tbody tr', (e) => {
                                let classList2 = e.currentTarget.classList;
                            
                                if (classList2.contains('selected')) {
                                    classList2.remove('selected');
                                }
                                else {
                                    table_4.rows('.selected').nodes().each((row) => row.classList1.remove('selected'));
                                    classList2.add('selected');
                                }
                            });
                            
                            document.querySelector('#delete_d_checkpoint').addEventListener('click', function () {
                                let choise= confirm("Bạn có muốn xóa part?")
                                if(choise==true){
                                    table_4.row('.selected').remove().draw(false);
                                }
                            });  
                           
                
                
            </script>
                    <!-- //////////////EMPTY SCREEN////////////// -->
                

            <div id = "screen_empty">

            </div>
        </body>
</html>