/*Màn hình chính*/
#Screen_Main {
    position: absolute; 
    left: 0px; top: 150px; 
    width: 2200px; height: 780px;
   
}
#Screen_Main_1 {
    position: absolute;
    left: 0px; top: 0px;
    width: 1100px; height: 780px;
    background-color: rgb(179, 215, 212);
}
#Screen_Main_2 {
    position: absolute;
    left: 1100px; top: 0px;
    width: 1100px; height: 780px;
    background-color: rgb(235, 235, 179);
}



tbody { 

    white-space: nowrap;
    font-weight:300;
    font-size: xx-large;
    background-color: azure;
}

thead, tfoot {
    background-color: gray;
    white-space: nowrap;
    font-weight:300;
    font-size: xx-large;
}
div.dataTables_wrapper {
    position:absolute;
    left: 5px; top: 160px;
    width: 1000px;
    margin: 0 auto;
}

/* #example {
    position:absolute;
    left: 50px; top: 500px;
    width: 1500px; height: 780px;
} */

tfoot input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-weight:300;
    font-size: xx-large;
}

#addRow {
    background-color: green; 
    color:black;
    padding: 12px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}

#deleteButton {
    background-color: red; 
    color:black;
    padding: 12px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}

#addName[type=text], #id_svn[type=text] {
    width: 15%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
  }


#dept {
    width: 10%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
}
 
#factory1 {
    width: 10%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
}

#level, #pass {
    width: 15%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
}

#toolName[type=text], #tooltype[type=text] {
    width: 15%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
  }

  #addTool {
    background-color: green; 
    color:black;
    padding: 12px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}

#deleteTool {
    background-color: red; 
    color:black;
    padding: 12px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: larger;
    font-weight: bolder;
}