/*Màn hình chính*/
#Screen_Main {
    position: absolute; 
    left: 0px; top: 150px; 
    width: 2000px; height: 780px;
    background-color: rgb(179, 215, 212); 
}

th, td { 
    white-space: nowrap;
    font-weight:300;
    font-size: xx-large;
}
div.dataTables_wrapper {
    width: 1800px;
    margin: 0 auto;
}

/* #example {
    position:absolute;
    left: 50px; top: 500px;
    
} */

tfoot input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    font-weight:300;
    font-size: xx-large;
}

#addRow {
    background-color: green; 
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: larger;
    font-weight: bolder;
}

#deleteButton {
    background-color: red; 
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    font-size: larger;
    font-weight: bolder;
}

#addName[type=text], #id_svn[type=text] {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
  }


#dept, #factory1, #level, #pass {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bolder;
}
 

